{% extends 'base.html' %} {% block title %}Register{% endblock %} {% block
content %}
<h1 class="text-center text-xl py-4 font-semibold">Registrate</h1>
<form action="/users/create" method="post" class="grid grid-cols-2 gap-2 my-4 p-4">
	<label class="text-center" for="first_name">Nombre:</label>
	<input class="p-2 border-2 border-gray-200 rounded focus:border-emerald-500 focus:outline-none focus:ring-1 focus:ring-emerald-500" type="text" name="first_name" id="first_name" />

	<label class="text-center" for="last_name">Apellido:</label>
	<input class="p-2 border-2 border-gray-200 rounded focus:border-emerald-500 focus:outline-none focus:ring-1 focus:ring-emerald-500" type="text" name="last_name" id="last_name" />

	<label class="text-center" for="email">Email:</label>
	<input class="p-2 border-2 border-gray-200 rounded focus:border-emerald-500 focus:outline-none focus:ring-1 focus:ring-emerald-500" type="text" name="email" id="email" />

	<button class="my-2 bg-emerald-500 text-white col-span-2 py-2 hover:bg-emerald-400 transition-all rounded">Crear</button>
</form>
{% endblock %}
